.AccountList {
    flex-direction: column;
    
}

.AccountList-container {
    flex-direction: column;
    background-color: white;
}

.AccountList-table {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.table-item {
    width: 100px;
}