.Account {
    width: 100vw;
    height: 100vh;
}

.Account-button {
    padding: 2vh 5vh 2vh 5vh;
    width: 20%;
    margin: 20px 10px 10px 10px;
    border-radius: 16px;
    text-align: center;
    outline: none;
    text-decoration: none;
    color: aliceblue;
}

.create-account {
    background-color: rgb(52, 202, 84);
}

.login-account {
    background-color: rgb(34, 100, 199);
}