.AccountList {
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.AccountList-container {
    width: 100%;
    flex-direction: column;
    background-color: white;
}

.AccountList-table {
    width: 90%;
    margin-top: 10px;
    border: 1px solid black;
}

.table-item {
    width: 150px;
    text-align: left;
}

tr td
{
    background-color: #fff;
    text-align: left;
}

tr:nth-child(even) td:nth-child(odd), tr:nth-child(even) td:nth-child(even)
{
    background-color: #dddddd;
}