.AccountList {
    flex-direction: column;
}

.AccountList-container {
    width: 100%;
    flex-direction: column;
    background-color: white;
}

.AccountList-table {
    width: 90%;
    margin-top: 20px;
    border: 1px solid black;
}

.table-item {
    width: 150px;
    text-align: left;
}