.Edit {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgb(247, 247, 247);
}

.Edit-form {
    flex-direction: column;
    width: 80%;
    height: 80%;
    border-radius: 16px;
    background-color: white;
}

.Edit-container {
    width: 100%;
    height: 100%;
}

.event-container {
    flex-direction: column;
    width: 100%;
    height: 70%;
    border-bottom: 1px solid black;
}

.access-container {
    flex-direction: column;
    height: 30%;
    width: 100%;
}

.user-header {
    margin-bottom: 10px;
}

.edit-header {
    margin: 10px 0px 10px 0px;
}

.Edit-info {
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.Radio-button-container {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.Radio-button {
    margin: 0px 10px 0px 10px;
}

.Edit-item {
    flex-direction: column;
    outline: none;
    border-radius: 3px;
    width: 300px;
    height: 20px;
    align-items: flex-start;
    justify-content: center;
}

.Event-item {
    width: 250px;
    height: 50px;
}

.EventList-container {
    flex-direction: column;
    justify-content: flex-start;
    height: 300px;
    width: 100%;
    overflow-y: scroll;
    margin: 0px 0px 10px 0px;
}

.Event-list {
    border: 1px solid black;
    border-radius: 6px;
    align-items: flex-start;
    justify-content: flex-start;
}

.Edit-button {
    width: 50%;
    height: 48px;
    border-radius: 3px;
    font-size: 1rem;
    color: aliceblue;
    text-align: center;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    border: none;
    padding: 10px 30px 10px 30px;
    margin: 0px 10px 0px 10px;
}

.cancel {
    background-color: rgb(34, 100, 199);
}

.update {
    background-color: rgb(52, 202, 84);
}